.pedidospage {
    display: flex;
    flex-direction: column-reverse;
    margin: 10em;
}

.pedidospage div form div input {
    border: 0;
    font-size: medium;
}

.pedidospage div {
    display: flex;
    margin: 10px;

}

.pedidospage div {
    display: block;
    background-color: rgb(240, 240, 240);
}



.pedidospage div div button {
    display: block;
    padding: 3px;
    width: auto;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 4px;
    font-size: medium;
}

.pedidospage div div button:hover {
    background-color: rgb(211, 42, 42);
    transition: 1s;
}