.produtospage {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;
}

.produto {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    flex: 1 1 calc(20% - 20px);
    height: auto;
}

.produto figure {
    margin: 0;
    padding: 0;
}

.produto img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.produtoInfo {
    margin-top: 10px;
}

.produtoInfo .descricao,
.produtoInfo .categoria,
.produtoInfo .quantidade {
    font-size: 1em;
    color: #555;
    margin: 0;
    margin-top: 1.4rem;
}

.produtoInfo .quantidade {
    font-weight: bold;
    margin-bottom: 2rem
}

.descricao {
    display: -webkit-box;
    -webkit-line-clamp: 4;      
    -webkit-box-orient: vertical;  
    overflow: hidden;              
    text-overflow: ellipsis;      
  }

.botao {
    font-size: 1.4rem;
    font-weight: 400;
    background-color: #119c95;
}