.loginform {
    display: block;
    margin: auto;
    margin-top: 10rem;
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(197, 197, 197, 0.281);
    padding: 10rem;
    border-radius: 4px;
}



.loginform form input {
    display: block;
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    margin: auto;

    border: 1px solid rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

}

.loginform form button {

    display: block;
    border-radius: 4px;
    padding: 10px;
    width: auto;
    height: auto;
    border: 1px solid black;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.loginform form button:hover {
    background-color: rgb(180, 180, 180);
    transition: 1s;

}